PORT=3847
HEADLESS=true
PARALLEL_LIMIT=12
PROCESS_TIMEOUT_MS=120000

ADMIN_ACCESS_TOKEN=
X_AGENT_PKID=180005
X_AGENT_ROLE=KAPTENKASIR
X_AGENT_SUID=BADAR
X_AGENT_USER=BANDAR80MARWAN626
X_AGENT_USER_ID=1978665551754477569

ADMIN_HEADERS_RAW=
